@media(max-width: 1000px) {}






/* スマホ向けレイアウト*/

@media(max-width: 670px) {

  .side-menu {
    width: 100%;
    height: 70px;
  }
  .menu-logo {
    float: left;
  }
  .menu-logo h1 {
    font-size: 10px;
    padding-left: 3px;
    margin: 17px 9px;

  }
  .menu-logo span {
    font-size: 20px;
  }
  .menu-list {
    position: absolute;
    padding-left: 90px;
  }

  .menu-list a{
    height: 15px;
    float: left;
    font-size: 10px;
    margin: 30px 6px 0px 1px;

  }
  .menu-list a:hover {
    background-color: rgba(251, 90, 197, 0.63);
    opacity: 0.3;
    border-radius: 4px;
    transition: all 1s;
  }
  .top-img {
       height: 660px;
       background-size:cover;
       background-image: url("https://raw.githubusercontent.com/RYOTA-HIGASHI/ryota-higashi.github.io/master/IMG_0318.JPG");
      }

.top h1 {
     padding-left: 0px;
     padding-top: 530px;
     font-size: 30px;
     letter-spacing: 4px;
    }
.top h2 {
     font-size: 20px;
     margin: 0px;
}

.Heading h3 {
  padding-top: 90px;
  margin: 0 0 30px 0px;
    }
.profile li {
  margin:0 0 10px 0px;
  font-size: 14px;
}
.Heading ,profile {
  height: 1000px;
}
.photo-list {
  margin-left: 35px;
}
.photo {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.galarry {
  height: 710px;
}

.movie iframe {
  padding-left: 10px;
  width: 300px;
  height: 200px;
}
.movie {
  height: 400px;
}
#map {
  width: 95%;
}
.address {
  padding-left: 10px;
}
.address h4 {
  padding-left: 0px;
}
.address p {
  padding-left: 0px
}
.access {
  height: 800px;
}
form {
  margin-left: 10px;
  width: 355px;
}
input, textarea {
  width: 250px;
}
form div {
  margin-top: 30px;
  margin-left: 40px;
}
label {
  width: 60px;
}
.button {
  padding-left: 60px;
}



}
