html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

li {
  list-style: none;
}

.top-img {
  background-size: cover;
  background-image: url(file:///Users/RYOTA/Desktop/html_lesson/IMG_0323.png);
  height: 100%;
  width: 100%;
  text-align: center;
}
.top {
  position: absolute;
  top: 500px;
  left: 300px;
  bottom: 0px;
  right: 0px;
  margin:0 auto;

}
.top h1 {
  font-size: 90px;
  color: white;
  margin: 0;
  letter-spacing: 8px;
  background-color: ;
}
.top h2 {
  background-color: ;
  font-size: 40px;
  margin: 0;
  color: white;
  margin-left: 250px;
}
.side-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 170px;
  text-align: center;
  position: fixed;
  top: 0;
}
.menu-logo h1 {
  font-size: 20px;
  margin: 40px 0px;
}
.menu-logo span {
  color: rgba(251, 90, 197, 0.63);
  font-size: 35px;
}
.menu-list a {
  text-decoration: none;
  color: black;
  display: block;
  padding-bottom: 30px;
}

.profile {
  height: 400px;
  width: 100%;
  background-color: rgba(34, 11, 34, 0.08);

}
