html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}



.top-img {
  background-size: cover;
  background-image: url(file:///Users/RYOTA/Desktop/html_lesson/IMG_0323.png);
  height: 100%;
  width: 100%;
  text-align: center;
}
.top {
  position: absolute;
  top: 500px;
  left: 300px;
  bottom: 0px;
  right: 0px;
  margin:0 auto;

}
.top h1 {
  font-size: 90px;
  color: white;
  margin: 0;
  letter-spacing: 8px;
  background-color: ;
}
.top h2 {
  background-color: ;
  font-size: 40px;
  margin: 0;
  color: white;
  margin-left: 250px;
}
.side-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 170px;
  text-align: center;
  position: fixed;
  top: 0;
}
.menu-logo h1 {
  font-size: 20px;
  margin: 40px 0px;
}
.menu-logo span {
  color: rgba(251, 90, 197, 0.63);
  font-size: 35px;
}
.menu-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  background-color: ;
  margin: 40px 40px;
}

.menu-list a:hover {
  opacity: 0.3;
  transition: all 0.5s;
}

.profile {
  height: 800px;
  width: 100%;
  background-color: #F2F2F2;
}
.profile h3 {
  margin: 0;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #BDBDBD;
}
.profile li {
  margin-left: 170px;
  font-size: 18px;
  margin-bottom: 10px;
}
.menu-list :active {
  position: relative;
  bottom: 7px;
}


.schedule {
  height: 800px;
  width: 100%;
  background-color: #F2F2F2;
}
.schedule h3 {
  margin: 0;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #BDBDBD;
}
.galarry {
  height: 800px;
  width: 100%;
  background-color: #F2F2F2;
}
.galarry h3 {
  margin: 0;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #BDBDBD;
}
.contact {
  height: 800px;
  width: 100%;
  background-color: #F2F2F2;
}
.contact h3 {
  margin: 0;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #BDBDBD;
}

.access {
  height: 800px;
  width: 100%;
  background-color: #F2F2F2;
}
.access h3 {
  margin: 0;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #BDBDBD;
}
